/* src/pages/Courses.css */
.courses-page {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  margin-left: 220px;
}

.courses-page ul {
  list-style: square;
  padding-left: 1.5rem;
}
