/* src/components/Sidebar.css */

.sidebar {
  width: 220px; /* élargir la sidebar */
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
  transition: background 0.3s;
}

.sidebar li:hover {
  background-color: #34495e;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
